{% extends 'usertemplates/base.html' %}

{#{% csrf_token %}#}
{% block content_two %}
    <div class="div_reservation_form">
        {% if msg %}

            <p class="title_two"><b>{{ msg }}</b><p>

        {% endif %}


        {% for reservation in reservations %}
                <p>
                    <a class="reservation_link" href="{{ reservation.get_absolute_url }}">
                        Rezerwacja nr {{ reservation.id }}
                    </a>
                </p>

        {% endfor %}

    </div>

{% endblock %}