{% extends 'usertemplates/base.html' %}
{% load staticfiles %}

{% block content_two %}
    <form action="{{ reservation.get_absolute_url }}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="div_reservation_form">

            <p><b>{{ msg }} {{ reservation.id }}</b></p>
            <table class="proper_reservation_table">
                <thead>
                    <tr>
                        <th>Imię</th>
                        <th>Nazwisko</th>
                        <th>Przyjazd</th>
                        <th>Wyjazd</th>
                        <th>Pokój</th>
                    </tr>
                </thead>
                    <tr>
                        <td>{{ reservation.name }}</td>
                        <td>{{ reservation.surname }}</td>
                        <td>{{ arr_date }}</td>
                        <td>{{ dep_date}}</td>
                        <td>{{ reservation.room.get_type_display}}</td>
                    </tr>
            </table>
        <br>
            <table class="proper_reservation_table">
                <thead>
                    <tr>
                        <th>Kursant/ka</th>
                        <th>Poziom</th>
                        <th>Dorosły</th>
                        <th>Dziecko</th>
                    </tr>
                </thead>
                {% for course in courseDetails %}
                    <tr>
                        <td>{{ course.course_user }}</td>
                        <td>{{ course.instructor }}</td>
                        <td class="adult">{{ course.adult }}</td>
                        <td class="child">{{ course.child}}</td>
                    </tr>
                {% endfor %}
            </table>

            <p>
                <a id="upload_redirection" class="reservation_link">Załaduj plik</a>
                <span class="hidden">{{ form }}</span>
            </p>

            <p>
                <button type="submit" name="submit">Wyślij potwierdzenie przelewu</button>
                <button type="button" onclick="return jsDeleteReservation()">Skasuj rezerwację</button>
            </p>
        </div>
    </form>


{% endblock %}
{% block js %}

    <script src="{% static 'js/app.js' %}"></script>

{% endblock %}

